<div class="navigation">
    <button class="hamburger-btn"><img src="./images/index/hamburger-btn.png"></button>
    <button class="close-btn"><img src="./images/index/close-btn.png"></button>
    <div class="hamburger-menu">
        <ul class="english">
            <li><a href="#">About</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="default-menu">
        <a href="#" class="english yellow logo">YESEUL CHO</a>
        <ul class="english">
            <li><a href="#">About</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>