* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #01001A;
    font-family:  'NanumSquareNeo';
    font-weight: 300;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

.yellow {
    color: #E5DE2E;
}

.korean-emphasis-700 {
    font-family: 'PyeongChangPeace', sans-serif;
    font-weight: 700;
}

.korean-emphasis-300 {
    font-family: 'PyeongChangPeace', sans-serif;
    font-weight: 300;
}

.english {
    font-family: 'Jockey One', sans-serif;
}


/* navigation */
.navigation {
    border: 1px solid white;
    display: flex;
    width: 100%;
}

.navigation ul {
    display: flex;

}