* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
}

html {
  display: flex;
  justify-content: center;
}

body {
  background-color: rgba(1, 0, 26, 1);
  font-family: "NanumSquareNeo";
  font-weight: 300;
  letter-spacing: -0.04rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 1280px;
}

@media (max-width: 1279px) {
  body {
    width: 100%;
  }
  .wrapper {
    min-width: 100%;
  }
}

@media (max-width: 600px) {
  body {
    width: 100%;
  }
  .wrapper {
    min-width: 100%;
  }
}

/* 폰트 설정 */
.yellow {
  color: #e5de2e;
}

.korean-emphasis-700 {
  font-family: "PyeongChangPeace", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
}

.korean-emphasis-300 {
  font-family: "PyeongChangPeace", sans-serif;
  font-weight: 300;
  letter-spacing: 0;
}

.english {
  font-family: "Russo One", sans-serif;
  letter-spacing: 0;
}

.title {
  font-size: 5rem;
}

.caption {
  font-size: 0.75rem;
  letter-spacing: -0.01rem;
}

/* 네비게이션 설정 */
nav {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(1, 0, 26, 0.7);
  z-index: 100;
}

.navigation {
  display: flex;
  align-items: center;
  width: 1280px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 1.5rem 2.5rem;
}

.navigation a {
  letter-spacing: 0.1rem;
}

.navigation .hamburger-btn,
.navigation .close-btn,
.navigation .hamburger-menu {
  display: none;
}

.navigation .default-menu {
  display: flex;
  width: 100%;
}

.navigation .default-menu ul {
  display: flex;
  margin-left: auto;
}

.navigation ul li {
  margin-left: 2.75rem;
}

.navigation ul li a:hover {
  color: #e5de2e;
}

@media (max-width: 600px) {
  .navigation {
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    padding: 1.25rem;
  }

  .navigation .logo {
    display: none;
  }

  .navigation .default-menu {
    display: none;
  }

  .navigation button img {
    width: 2rem;
  }

  .navigation .hamburger-btn {
    display: block;
  }

  .navigation .hamburger-menu {
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0;
    height: 100vh;
    padding-bottom: 2rem;
    background-color: rgba(1, 0, 26, 1);
  }

  .navigation .hamburger-menu ul {
    margin-top: 3rem;
    font-size: 2.25rem;
    font-family: "PyeongChangPeace", sans-serif;
    font-weight: 700;
    letter-spacing: 0;
  }

  .navigation .hamburger-menu ul li {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }
}
