@import "./common.css";

/* header - 텍스트 */
header {
  position: relative;
  color: white;
  /* background-image: url("../images/index/stars.png");
  background-size: cover;
  background-repeat: no-repeat; */
  padding-bottom: 6rem;
}

header .text-area {
  margin: 24rem 0 0 0rem;
  padding: 2rem;
  z-index: 1;
  background-color: rgba(1, 0, 26, 1);
  width: fit-content;
}

header .text-area .sub-title {
  font-size: 2rem;
}

header .text-area .title {
  display: flex;
  align-items: center;
}

header .text-area .title h1 {
  font-size: 6rem;
  line-height: 1.125;
  margin-right: 0.25rem;
}

header .text-area .description {
  margin: 1.2rem 0;
}

header .text-area .caption {
  opacity: 0.5;
}

header .text-area .description p {
  line-height: 1.6;
}

@media (max-width: 1279px) {
  header {
    padding-bottom: 5rem;
  }
  header .text-area {
    margin: 19rem 0 0 5rem;
    z-index: 1;
  }
  header .text-area .sub-title {
    font-size: 1.45rem;
  }
  header .text-area .title {
    display: flex;
    align-items: center;
  }
  header .text-area .title h1 {
    font-size: 4.25rem;
    line-height: 1.2;
    margin-right: 0.25rem;
  }
  header .text-area .title svg {
    width: 3.25rem;
    height: 3.25rem;
  }
  header .text-area .description {
    margin: 0.8rem 0;
  }
}

@media (max-width: 600px) {
  header {
    padding-bottom: 6.5rem;
  }
  header .text-area {
    margin: 20rem 0 0 1.5rem;
    z-index: 1;
  }
  header .text-area .sub-title {
    font-size: 1.45rem;
  }
  header .text-area .title {
    display: flex;
    align-items: center;
  }
  header .text-area .title h1 {
    font-size: 3.75rem;
    line-height: 1.2;
    margin-right: 0.25rem;
  }
  header .text-area .title svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  header .text-area .description {
    margin: 0.8rem 0;
    font-size: 0.875rem;
  }
}

/* header - 일러스트 */
header .illust-human {
  position: absolute;
  top: -8rem;
  right: 3rem;
  background-image: url("../images/index/astronaut.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 46.8rem;
  height: 46.8rem;
  z-index: 0;
  animation-name: illust-human;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: -2s;
}

@keyframes illust-human {
  50% {
    top: -6rem;
    right: 5rem;
    transform: rotate(-5deg);
  }
}

header .illust-dog {
  position: absolute;
  top: 3rem;
  left: 2rem;
  background-image: url("../images/index/astronaut-dog.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 18.75rem;
  height: 18.75rem;
  animation-name: illust-dog;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: -2s;
}

@keyframes illust-dog {
  50% {
    top: 5.5rem;
    left: 4rem;
    transform: rotate(5deg);
  }
}

@media (max-width: 1279px) {
  header {
    overflow: hidden;
  }
  header .illust-human {
    top: -4rem;
    right: 0;
    width: 40rem;
    height: 40rem;
  }
  @keyframes illust-human {
    50% {
      top: -5rem;
      right: 2rem;
      transform: rotate(-5deg);
    }
  }
  header .illust-dog {
    top: 2rem;
    left: 1rem;
    width: 16rem;
    height: 16rem;
    transform: rotate(-10deg);
    animation-duration: 7s;
  }
  @keyframes illust-dog {
    50% {
      top: 4rem;
      left: 4rem;
      transform: rotate(5deg);
    }
  }
}

@media (max-width: 1023px) {
  header {
    overflow: hidden;
  }
  header .illust-human {
    top: -5rem;;
    right: -10rem;
    width: 36rem;
    height: 36rem;
  }
  @keyframes illust-human {
    50% {
      top: -6rem;
      right: -5rem;
      transform: rotate(-5deg);
    }
  }
  header .illust-dog {
    top: 5rem;
    left: 2rem;
    width: 14rem;
    height: 14rem;
    transform: rotate(-10deg);
    animation-duration: 6s;
  }
  @keyframes illust-dog {
    50% {
      top: 6rem;
      left: 3rem;
      transform: rotate(5deg);
    }
  }
}

@media (max-width: 799px) {
  header {
    overflow: hidden;
  }
  header .illust-human {
    top: -5rem;
    right: -12rem;
    width: 34rem;
    height: 34rem;
  }
  @keyframes illust-human {
    50% {
      top: -4rem;
      right: -11.5rem;
      transform: rotate(-5deg);
    }
  }
  header .illust-dog {
    top: 5rem;
    left: 0;
    width: 12.5rem;
    height: 12.5rem;
    transform: rotate(-5deg);
    animation-duration: 6s;
  }
  @keyframes illust-dog {
    50% {
      top: 6.5rem;
      left: 1.5rem;
      transform: rotate(15deg);
    }
  }
}

@media (max-width: 600px) {
  header {
    overflow: hidden;
  }
  header .illust-human {
    top: -0.5rem;
    right: -14rem;
    width: 30rem;
    height: 30rem;
    animation-duration: 8s;
  }
  @keyframes illust-human {
    50% {
      top: 0rem;
      right: -15rem;
      transform: rotate(-5deg);
    }
  }
  header .illust-dog {
    top: -1rem;
    left: 1.5rem;
    width: 11rem;
    height: 11rem;
    transform: rotate(-15deg);
    animation-duration: 10s;
  }
  @keyframes illust-dog {
    50% {
      top: 1rem;
      left: -2rem;
      transform: rotate(-45deg);
    }
  }
}


/* main */
main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 74rem;
  border-radius: 50%;
  padding-bottom: 4rem;
  margin-bottom: 6rem;
  background-color: #e5de2e;
}

main .title-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

main .title-area .title {
  font-size: 4rem;
}

/* cards */
.cards-area {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 4rem;
}

.cards-area .card {
  width: 16.5rem;
}

.cards-area .card .card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.65rem 1.25rem 1.25rem 1.25rem;
  border-radius: 3.125rem 3.125rem 0 0;
}

.cards-area .card .card-main img {
  width: 7.5rem;
  margin-bottom: 0.7rem;
}

.cards-area .card .card-main .card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.cards-area .card .card-main .card-description {
  line-height: 1.5;
  font-size: 0.9rem;
}

.cards-area .card .card-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 0 0 3.125rem 3.125rem;
  padding: 1.25rem 1.25rem 1.65rem 1.25rem;
}

.cards-area .card .card-skills .skills-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.cards-area .card .card-skills .caption {
  opacity: 1;
}

.cards-area .card:nth-child(1) .card-main {
  background-color: rgba(229, 90, 46, 0.6);
}

.cards-area .card:nth-child(2) .card-main {
  background-color: rgba(229, 90, 46, 0.35);
}

.cards-area .card:nth-child(3) .card-main {
  background-color: rgba(229, 90, 46, 0.2);
}

.cards-area .card:nth-child(2) {
  margin: 0 1rem;
}

/* resume */
.resume-area {
  display: flex;
  flex-direction: column;
}

.resume-area .experiences {
  position: relative;
  display: flex;
  margin-left: 10rem;
}

.resume-area .education {
  margin-bottom: 3.5rem;
}

.resume-area .experiences .line {
  position: absolute;
  top: 2.5rem;
  left: 7.25rem;
  height: 1px;
  width: 53.5rem;
  border-bottom: 0.8px solid black;
}

.resume-area .experiences .experiences-title {
  margin-right: 3rem;
  font-size: 2rem;
  line-height: 1;
}

.resume-area .experiences .experience {
  margin-right: 3rem;
}

.resume-area .experiences .experience p {
  line-height: 1.5;
}

.resume-area .experiences .experience .dates {
  position: relative;
  margin-bottom: 1.5rem;
}

.resume-area .experiences .experience .dates p {
  font-family: "Russo One";
  opacity: 0.3;
  line-height: 1.3;
  letter-spacing: 0.05rem;
}

.resume-area .experiences .experience .circle {
  position: absolute;
  top: 2.55rem;
  left: 0.25rem;
  transform: translate(-50%, -50%);
  background-color: #e55709;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
}

.resume-area .experiences .experience .texts .institution {
  font-size: 0.9rem;
  font-weight: 800;
}

.resume-area .experiences .experience .texts .description {
  font-size: 0.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.8;
}

.resume-area .experiences .experience .texts .description:nth-child(2) {
  margin-bottom: 0.5rem;
}

.resume-area .experiences .experience .texts .sub.description {
  font-size: 0.75rem;
  letter-spacing: -0.03rem;
}
