@import "./common.css";

.wrapper {
  align-items: center;
  justify-content: flex-start;
  padding-top: 10rem;
  color: white;
}

.works-area {
  width: 1280px;
}

.works-area .work {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7.5rem;
}

.title-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.8rem;
}

.title-area h1 {
  font-size: 5.5rem;
}

.works-area .work .work-title {
  font-size: 2rem;
}

.work-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.descriptions-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
  margin: 1rem 0;
  font-size: 0.95rem;
}

.descriptions-area .description-title {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-family: "PyeongChangPeace", sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.2;
  border-bottom: solid 1px white;
}

.box-area {
  max-width: 22.25rem;
  min-width: 16.5rem;
  border: 1px solid white;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  font-size: 0.75rem;
  line-height: 1.8;
  letter-spacing: -0.01rem;
  margin-bottom: 2rem;
}

.box-area .box-text span {
  font-weight: 800;
  margin-right: 1rem;
}

.image-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-area .image {
  position: relative;
  cursor: pointer;
  margin: 0.5rem;
}

.image-area.cardnews .image img, .image-area.web-desc .image img {
  max-width: 19rem;
  
}

.image-area.marketing .image img {
  width: 38rem;
}

.image-area.service .image img {
  width: 100%;
  max-width: 80rem;
}

.image-area .image .image-over {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 0, 26, 0.7);
  z-index: 10;
  display: none;
}

.image-area .image:hover .image-over {
  display: flex;
}

.image-area .image .image-over button {
  padding: 1rem 1.5rem;
  color: black;
  font-weight: bold;
  background-color: white;
  font-size: 1rem;
  font-family: "PyeongChangPeace", sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  border-radius: 50%;
}

.image-area .image .image-over button a {
  color: black;
}

.image-area.service .image .image-over button:nth-child(1) {
  margin-right: 1rem;
}

@media (max-width: 1279px) {
  body {
    padding: 0 0.5rem;
  }
  
  .works-area {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .title-area {
    margin-bottom: 1.5rem;
  }

  .title-area h1 {
    font-size: 3.75rem;
  }

  .works-area .work .work-title {
    font-size: 1.75rem;
    line-height: 0.95;
  }

  .works-area .work .work-title.small {
    font-size: 1.55rem;
    line-height: 0.95;
  }

  .descriptions-area {
    font-size: 0.9375rem;
    line-height: 1.7;
    margin: 0.9rem 0;
  }

  .descriptions-area .description-title {
    font-size: 1rem;
    margin: 0.75rem 0;
  }

  .box-area {
    border-radius: 1.2rem;
    padding: 0.75rem 1.2rem;
    font-size: 0.75rem;
    line-height: 1.7;
    margin-bottom: 1.5rem;
  }

  .box-area .box-text span {
    margin-right: 0.5rem;
  }

  .image-area .image {
    margin: 0.1rem 0.2rem;
  }

  .image-area.marketing .image {
    margin: 0.1rem 0;
  }

  .image-area.cardnews img, .image-area.web-desc img {
    width: 9rem;
  }

  .image-area.marketing .image img {
    width: 100%;
  }
  
  .image-area .image .image-over button {
    padding: 0.8rem 1.25rem;
    color: black;
    font-weight: bold;
    background-color: white;
    font-size: 0.8rem;
    font-family: "PyeongChangPeace", sans-serif;
    font-weight: 300;
    letter-spacing: 0;
    border-radius: 50%;
  }
}
